/**** Isotope Filtering ****/
.isotope-ready, .isotope-ready.isotope-item {
    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
  display: none;
}
.isotope-ready {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
}

.isotope-ready.isotope-item {
      -webkit-transition-property: -webkit-transform, opacity;
         -moz-transition-property:    -moz-transform, opacity;
          -ms-transition-property:     -ms-transform, opacity;
           -o-transition-property:      -o-transform, opacity;
              transition-property:         transform, opacity;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling
------------------------------------------------------*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/* Isotope styles
------------------------------------------------------*/
.filter_portfolio{
  position: relative;
  top: 0;
  z-index: 1;
  text-align: right;
  margin-bottom: 1px;
 }

.filter {
    background: #282828;
     border-left: 0px solid rgba(204, 204, 204, 0.3);
}
#filter ul {
  list-style: none outside none;
	position:relative;
	margin-left:0px!important;
  margin: 0px!important;
  background:#0c151c;
}
#filter ul li a	{
  color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
}

.filter ul li {
  display: inline-block;
	margin-right:0px;
  padding: 0!important;
}
.filter a {
    display: block;
    font-size: 12px;
}
.filter .active {
    color: #ff0000 !important;
    position: relative;
    background-color: inherit;
}

.filter ul li:after {
    color: rgba(204, 204, 204, 0.3);
    content: "//";
}
.filter ul li:last-child:after {
    display: none;
}


/*  Portfolio Columns
------------------------------------------------------*/
.portfolio_extra{
	width:100%;
}
ul.portfolio_items {
    margin: 0 !important;
}
.fluid_portfolio_wrapper  ul.portfolio_items{
  width: 100.5%;
}
ul.portfolio_items  li, ul.porfolio_items li, #relatedposts li{
    padding: 0 !important;
    overflow: hidden;
    margin-left: 1px!important;
    margin-bottom: 1px!important;
	float:left;
	position:relative;
}
.portfolio5  li {
  width:19.85%!important;
}
.portfolio4  li, #relatedposts li {
	width:24.8%;
  display: inline-block;
}
.portfolio3  li {
	width:33.2%!important;
}

.portfolio2   li {
	width:49.8%!important;
}

.portfolio_sligleimg{
	position:relative;
	overflow:hidden;
}
