@charset "utf-8";
/* CSS Document */

.nav_menu_container.toggle_off {
    display: block !important;
}
.nav_wrapper {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 333;
}
nav select {
    display: none;
}
nav {
    position: relative;
    z-index: 99;
}
.menu select {
    display: none;
}
.nav_wrap .menu {
    list-style: none outside none;
    text-align: center;
}
.nav_wrap .menu > li > ul {
    margin-top: 0;
}
.menu ul li:hover > ul {
    display: block;
}
.menu ul {
    display: block;
    list-style: none outside none;
    position: relative;
    text-align: center;
    z-index: 99;
}
.menu > ul > li {
    margin-top: 0;
    position: relative;
}
.menu > ul > li > a {
    border-bottom: thin solid rgba(255, 255, 255, 0.03);
    border-top: thin solid rgba(0, 0, 0, 0.2);
    color: #ffffff;
    display: block;
    font-weight: 500;
    margin-top: 0;
    padding: 10px 20px;
    text-decoration: none;
}
#myslidemenu i {
    padding-right: 12px;
}
.menu > ul > li > a:last-child {
    border-bottom: 0 none;
}
.menu ul ul {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
    width: 205px;
    z-index: 2147483647;
}
.menu ul ul li {
    float: none;
    position: relative;
}
.menu ul ul li a {
    background-color: #ffffff;
    color: #333333;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 25px;
    text-align: left;
	text-decoration:none;
}
.menu ul ul li a:hover {
    color: #f54325;
	text-decoration:none;
}
.menu ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
    width: 140px;
}
.menu ul li:first-child > a {
    border-top: 0 none;
}
.menu ul li ul li:last-child, .menu ul li ul li ul li:last-child {
    background-color: #cccccc;
    border-bottom: medium none !important;
}
.menu > li.current-menu-item > a, .menu > li.current_page_item > a, .menu > ul > li:hover > a {
    color: #ffffff;
    transition: background-color 0.5s ease-out 0s;
}
.menu .current_page_ancestor > a, .menu .current-menu-ancestor > a, .menu .current-menu-item > a {
}
.menu > li.current-menu-item > a, .menu > li.current_page_item > a, .menu > ul > li:hover > a {
    background-color: #16222b;
    color: #ff0000 !important;
}
.active{
background-color: #ff0000;

}